<!-- CARD -->
<div class="mb-3 col-11 container-piloto">
    <div class="col-5">
        <label for="wea" class="form-label">{{escuderia}}</label>
        <input type="text" name="escud{{@index}}" class="form-control d-none" value={{escuderia}} readonly>
        <input type="text" name="nombre{{@index}}" class="form-control" value={{piloto}} readonly>
    </div>
    <div class="col-3">
        <label for="tiempo{{@index}}" class="form-label">Tiempo</label>
        <input type="float" name="tiempo{{@index}}" class="form-control" placeholder="Tiempo" required>
    </div>
    <div class="form-check form-switch form-check-reverse col-3">
        <label class="form-check-label" for="check{{@index}}">Abandono</label>
        <input class="form-check-input" name="check{{@index}}" type="checkbox"  id="flexSwitchCheckReverse">
    </div>
</div>
