<div class="card-container card-container{{@index}}" style="opacity: 0%;">
    <div class="dcard-tit border-bottom">
        <h3>{{nombre}}</h3>
    </div>
    <div class="dcard-contpts">
        <h1 class="dcard-pts">{{sumarArreglo puntajes}}</h1>
        <h4>pts</h4>
    </div>
    <div class="dcard-foot">
        <div>
            <h5>Abandonos</h5>
            <h3>{{contarAbandonos abandonos}}</h3>
        </div>
        <div  class="dlogo"><img src="{{escudo}}" alt=""></img></div>
    </div>
</div>
