<div class="tarjeta">
    <div class="separador">&nbsp; <h2 class="pos">POS</h2>
    </div>
    <div class="separador1">&nbsp;<h2 class="numPos">#{{sumarIndex @index}}</h2>
    </div>
    <div class="logo"><img src="{{escudo}}"  alt=""></img></div>
    <div class="info">
        <div class="escuderia">{{escuderia}}</div>
        <div class="piloto">{{piloto1}}</div>
        <div class="piloto2">{{piloto2}}</div>
        <div class="puntoseq">{{puntos}}</div>
    </div>
</div>
</div>