<div class="tarjeta">
    <div class="separador">&nbsp; <h2 class="pos">POS</h2>
    </div>
    <div class="separador1">&nbsp;<h2 class="numPos">#{{posicion}}</h2>
    </div>
    
    <div class="race-info">
        <div>
            <div class="race-piloto">{{nombre}}</div>
            <div class="race-escu">{{escuderia}}</div>
        </div>
        <div class="race-puntos">
            {{puntaje}}<span class="pts">pts</span>
        </div>
        <div class="race-tiempo">
            <p>{{visualizarTiempo tiempo @index}}</p>
        </div>
    </div>
</div>
</div>